CLOUDINARY_CLOUD_NAME=dep9eerzf
CLOUDINARY_API_KEY=295923212861127
CLOUDINARY_API_SECRET=0HrulThfeYyge181JYuzubTeoYM
DB_URL=postgresql://neondb_owner:npg_8AKpoRnSYN0x@ep-green-dawn-acc9cczp-pooler.sa-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

GEMINI_API_KEY=AIzaSyCVyNFqp3XpOXW5h4XCk9ozSDPU6zGzUdg